<h1>Edit a Report</h1>

<%= form_for @report do |f| %>

    <div>
        <%= f.label :student_id %>
        <%= f.text_field :student_id %>
    </div>

    <div>
        <%= f.label :teacher_id %>
        <%= f.text_field :teacher_id %>
    </div>

    <div>
        <%= f.label :what_was_covered %>
        <%= f.text_field :what_was_covered %>
    </div>

    <div>
        <%= f.label :performance %>
        <%= f.text_field :performance %>
    </div>

    <div>
        <%= f.label :assignment %>
        <%= f.text_field :assignment %>
    </div>
    <br>
    <%= f.submit "Submit these changes" %>

<% end %>
<br>
<%= link_to "Back to today's reports", reports_path %>